<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paw Finder</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  
</head>

<body>
<<<<<<< HEAD
<nav>
  <div class="container">
     <a href=""><img src="/images/Paws_Finder-removebg-preview (2).png" alt=""></a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/lost">lost</a></li>
      <li><a href="/found">found</a></li>
    </ul>
=======
  <nav>
    <div class="container">
       <a href=""><img src="/images/Paws_Finder-removebg-preview (2).png" alt=""></a>
      <ul>
       <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
       <li><a href="/">lost</a></li>
        <li><a href="/">found</a></li>
      </ul>
    </div>
  </nav>
  <div class="background">
    {{{body}}}
>>>>>>> 2909bd67c066571fba3d84cdd223ea7832b1cb01
  </div>
</body>


</html>