<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paw Finder</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  
</head>
<body>
  <nav class="topBar">
      <img src="/images/Paws_Finder-removebg-preview (2).png" alt="">
    <ul class="goToLinks">
      <li class="links"><a href="/">Home</a></li>
      <li class="links"><a href="/login">Login</a></li>
      <li class="links"><a href="/lost">Lost</a></li>
      <li class="links"><a href="/found">Found</a></li>
    </ul>
  </nav>
    <div class="background">
      {{{body}}}
    </div>
</body>
</body>
<footer>

</footer>

</html>