<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paw Finder</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  
</head>

<body>
  <nav class="navbar">
    <div class="container">
        <div class=""><img src="/images/Paws_Finder-removebg-preview (2).png" alt=""></div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/lost">Lost</a></li>
        <li><a href="/found">Found</a></li>
      </ul>
    </div>
  </nav>
  <div class="background">
    {{{body}}}
  </div>

</body>


</html>