<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paw Finder</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <nav class="topBar">
    
      <img src="/images/Paws_Finder-removebg-preview (2).png" alt="">
    <ul class="goToLinks">
      <li class="links"><a href="/">Home</a></li>
      <li class="links"><a href="/login">Login</a></li>
      <li class="links"><a href="/lost">Post Lost Pet</a></li>
      <li class="links"><a href="/browselost">Browse Lost Pet</a></li>
      <li class="links"><a href="/found">Post Found Pet</a></li>
      <li class="links"><a href="/api/found/">Browse Found Pet</a></li>
    </ul>
    
  </nav>

  <div class="background">
    {{{body}}}
  </div>

  <div class="social-links">
    <ul class="socialMediaLinks">
      <a class="facebookLink" href="https://www.facebook.com/petcolovelost"></a>
      <a class="youtubeLink" href="https://www.youtube.com/petcolove"></a>
      <a class="twitterLink" href="https://twitter.com/petcolovelost"></a>
      <a class="instagramLink" href="https://www.instagram.com/petcolovelost/"></a>
    </ul>
  </div>

  <footer>
    <p class="hpText">Use of this service, website, or application constitutes acceptance of all terms listed above. Super Stud Squad and its associated logos are trademarks of OSU Bootcamp, Inc. © 2022, Patrick Barney, David Lowry, Bradley Meyer, Lawrence 'The Billy' Carr </p>
  </footer>

</body>


</html>