<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paw Finder</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  
</head>
<nav>
  <div class="container">
     <a href=""><img src="/images/Paws_Finder-removebg-preview (2).png" alt=""></a>
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="logIn">Login</a></li>
      <li><a href="sighnUp">Sign Up</a></li>
      <li><a href="about">About</a></li>
    </ul>
  </div>
</nav>
<body>
  <img src="/images/body-background-img.jpg" alt="">
</section>
</body>
<footer>

</footer>

</html>