<section id="myModal" class="modalFound">
<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Found Pet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">What is the animal's name? (If on collar)</span>
        </div>
        <input type="text" id="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Name">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">What is the animal's breed?</span>
        </div>
        <input type="text" id="breed" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Breed of the animal">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"></span>
        </div>
         <label for="pet-select">Please select the animal's sex:</label>
        <select name="pets" id="pet-select">
          <option value="">choose an option</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="unknown">Unknown</option>
        </select>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">What color is the animal?</span>
        </div>
        <input type="text" id="color" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="All colors, seperated by ,">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"></span>
         <label for="start">Choose Date Found:</label>

        <input type="date" id="start" name="trip-start">
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">City:</span>
        </div>
        <input type="text" id="city" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="City you found the animal in">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"></span>
        </div>
        <label for="pet-select">Please select a size:</label>
        <select name="pets" id="pet-select">
          <option value="">choose an option</option>
          <option value="small">Small: 2-22 LBS</option>
          <option value="medium">Medium: 24-57 LBS</option>
          <option value="large">large: 59-99 LBS</option>
        </select>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"></span>
        </div>
        <label for="pet-select">Is the animal spayed/neutered?</label>
        <select name="pets" id="pet-select">
          <option value="">choose an option</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
          <option value="unknown">Unknown</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="create-button" class="btn-btn-primary">Create Found Pet</button>
      </div>
    </div>
  </div>
</div>
</section>


<script src="/js/foundpet.js"></script>