<section class="modal">
<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Lost Pet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
        </div>
        <input type="text" id="name"class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Breed</span>
        </div>
        <input type="text" id="breed" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"></span>
        </div>
        <label for="pet-select">Choose a sex:</label>
        <select name="pets" id="pet-select">
          <option value="">choose an option</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="unknown">Unknown</option>
        </select>
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Color</span>
        </div>
        <input type="text" id="color" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"></span>
        </div>
        <label for="start">Choose Date lost:</label>

        <input type="date" id="start" name="trip-start"
            value="2022-09-16"
            min="2021-01-01" max="2022-12-31">
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">City</span>
        </div>
        <input type="text" id="city" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"></span>
        </div>
        <label for="pet-select">Choose a Weight:</label>
        <select name="pets" id="pet-select">
          <option value="">choose an option</option>
          <option value="small">Small: 2-22 LBS</option>
          <option value="medium">Medium: 24-57 LBS</option>
          <option value="large">large: 59-99 LBS</option>
        </select>
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"></span>
        </div>
        <label for="pet-select">Choose if Fixed:</label>
        <select name="pets" id="pet-select">
          <option value="">choose an option</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
          <option value="unknown">Unknown</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="create-button" class="btn-btn-primary">Create Lost Pet</button>
      </div>
    </div>
  </div>
</div>
</section>
{{!-- <section class="container">
  <section class="flex-row justify-center">
    {{#each lost as |lost|}}
    {{> lost-details}}
    {{/each}}
  </section>
</section> --}}

<script src="/js/lostpet.js"></script>