:root {
  --primary: #7ED957;
  --prim2: #baf99f;
  --secondary: #F9F264;
  --tertiary: #c89a71;
  --thirdor: #e6c4a6;
  --quatrinary: #6A7672;
  --light: #e3e4e3;
  --dark: #333641;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

.background {
  background-image:linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url(/images/body-background-img.jpg);
  background-size: cover;
  width: 100%;
  height: 78vh;
  opacity: 0.98;
  display: flex;
  align-content: center;
  justify-content: center;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}
/* nav Bar */
.topBar {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 200;
  background-color: white;
  opacity: .98;
  background-clip: text;
  height: 120px;
}

@media screen and (max-width: 900px) {
  .topBar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
  }
}


@media screen and (max-width: 720px) {
  .topBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 520px) {
  .topBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
  }

  .goToLinks {
    display: flex;
    flex-direction: column;
  }

  .background {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    margin: 30px;
    flex: 0 1 150px;
    border: 7px double var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    color: var(--dark);
  }

  .card header {
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    background-color: var(--tertiary);
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  .card-body {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
  }
}



.goToLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.links {
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.socialMediaLinks span{
	display:none; 
  
}

footer {
  display: flex;
  justify-content: center;
}

.social-links {
  display: flex;
  justify-content: center;
}

.hpHeader {
  color: #7ED957;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hpBody {
  color: rgb(249, 249, 173);
  text-align: center;
  margin: 30px;
}

.hpText {
  font-size: xx-small;
  font-family: 'Times New Roman', Times, serif;
}

.socialMediaLinks a:before{
	font-family: FontAwesome;
  font-size: 30px;
  margin-right: 20px;
}

.facebookLink:before{
	content: '\f082';
  color: var(--primary);
}
.instagramLink:before{
	content: '\f16d';
  color: var(--primary);
}
.twitterLink:before{
	content: '\f099';
  color: var(--primary);
}
.youtubeLink:before{
	content: "\f16a";
  color: var(--primary);
}

/* .gallery {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
} */

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

/* img {
  max-width: 100%;
  height: auto;
} */

/* .painting {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.painting-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
} */

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  margin: 80px 0;
  flex: 0 0 50%;
  max-width: 50%;
  max-height: 50%;
  padding: 5px;
  border: 2px solid var(--tertiary);
  border-radius: var(--border-radius);
  background-color: var(--dark);
  color: var(--primary);
}
.login-card-2 {
  margin: 80px 0;
  flex: 0 0 50%;
  max-width: 50%;
  max-height: 62%;
  padding: 5px;
  border: 2px solid var(--tertiary);
  border-radius: var(--border-radius);
  background-color: var(--dark);
  color: var(--primary);
}

.btn-btn-primary {
  background-color: var(--tertiary);
  border-radius: 3px;
  border: 1px solid var(--tertiary);
  padding: 7px 15px;
}

.btn-btn-primary:hover {
  background-color: var(--thirdor);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.modal {
  background-color: var(--dark);
  margin: 80px 0;
  color: var(--primary);
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 70%;
  max-height: 70%;
}

.btn-btn-secondary {
  background-color: var(--tertiary);
  border-radius: 3px;
  border: 1px solid var(--tertiary);
  padding: 7px 15px;
  margin: 7px 0;
}

.btn-btn-secondary:hover {
  background-color: var(--thirdor);
}


.modalFound {
  background-color: var(--dark);
  margin: 80px 0;
  color: var(--primary);
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 70%;
  max-height: 85%;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}
